<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.curry.stephen.lcandroidlib">

    <application
        android:name=".application.LCApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
    </application>

</manifest>
